# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
venv_linux/
.venv/
env/
ENV/

# Configuration and Secrets
config.toml
.env
secrets.toml
.streamlit/secrets.toml

# Data Files & Output
*.xlsx
output/
logs/

# IDE / System files
.vscode/
.idea/
.project
.pydevproject
.settings/
Thumbs.db
Desktop.ini
